@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root colors */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #F472B6;
  --accent-bg: rgba(244, 114, 182, 0.1);
}